#app .view {
  padding: 20px;
}

.todo__list{
  padding: 20px 0;
}

.todo__li{
  width: 100%;
  border-bottom: 1px solid #aaaaaa;
  display: flex;
}

.todo__li > *{
  padding: 20px 10px;
}
.todo__li > *:nth-child(1){
  width: 167px;
}

.todo__li > *:nth-child(2){
  flex-grow: 1;
}


.todo__li > *:nth-child(3){
  width: 100px;
}

.todo__li > *:nth-child(4){
  width: 100px;
}